@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --tigers-eye: #E8833A;
  --light-periwinkle: #C3CFD9;
  --white: #FFFFFF;
  --outer-space: #293845;
  --cadet-blue: #9EADBA;
  --azureish-white: #DFE6ED;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

header {
  font-size: 34px;
  color: var(--tigers-eye);
  text-align: center;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-periwinkle);
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--outer-space);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.movies {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie {
  width: 146px;
  height: 210px;
  padding: 8px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 20px;
}

.movie.small {
  width: 64px;
  height: 88px;
  margin: 0;
  padding: 4px;
}

.movie img {
  width: 100%;
  height: 100%;
}

.sessions {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
}

.session {
  margin-bottom: 24px;
}

.session h2 {
  margin-bottom: 22px;
  font-size: 20px;
  color: var(--outer-space);
}

.showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.showtimes button {
  width: calc(25% - 8px);
  height: 42px;
  margin-bottom: 8px;
  background-color: var(--tigers-eye);
  border-radius: 3px;
  border: none;
  font-size: 18px;
  color: var(--white);
}

footer {
  background-color: var(--azureish-white);
  height: 116px;
  width: 100%;
  border-top: 1px solid var(--cadet-blue);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.session-info {
  width: 100%;
  margin-left: 22px;
  font-size: 22px;
  color: var(--outer-space);
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
